language: go

go:
  - 1.13.x

before_script:
  # e2e tests expects 0755 as default folder modbits, however on travis VMs,
  # it's 0775 by default. Keep test logic the same, change the environment.
  - umask 022

script:
- make test
- make staticcheck
- make vet
