name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        go-version:
          - 1.20.x
          - 1.19.x
        os:
          - macos
          - ubuntu
          - windows

    name: build (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - run: make build

  test:
    strategy:
      matrix:
        go-version:
          - 1.20.x
          - 1.19.x
        os:
          - macos
          - ubuntu
          - windows

    name: test (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - run: make test

  qa:
    strategy:
      matrix:
        go-version:
          - 1.20.x
        os:
          - ubuntu

    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v4
      with:
        go-version: ${{ matrix.go-version }}

    - run: make check-fmt
    - run: go install github.com/golang/mock/mockgen@v1.6.0
    - run: make check-codegen
    - run: make vet
    - run: go install honnef.co/go/tools/cmd/staticcheck@v0.4.3
    - run: make staticcheck
    - run: go install mvdan.cc/unparam@latest
    - run: make unparam
