name: ci
on: [push, pull_request]
jobs:
  build:
    strategy:
      matrix:
        go-version:
          - 1.15.x
          - 1.14.x
          - 1.13.x
        os:
          - macos
          - ubuntu
          - windows

    name: build (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - run: make build

  test:
    strategy:
      matrix:
        go-version:
          - 1.15.x
          - 1.14.x
          - 1.13.x
        os:
          - macos
          - ubuntu
          - windows

    name: test (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - run: make test

  qa:
    strategy:
      matrix:
        go-version:
          - 1.15.x
        os:
          - ubuntu

    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-go@v2
      with:
        go-version: ${{ matrix.go-version }}

    - run: make check-fmt
    - run: make vet
    - run: go get honnef.co/go/tools/cmd/staticcheck
    - run: make staticcheck
    - run: go get mvdan.cc/unparam
    - run: make unparam
