name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  build:
    strategy:
      matrix:
        go-version:
          - 1.22.x
          - 1.21.x
          - 1.20.x
        os:
          - macos
          - ubuntu
          - windows

    name: build (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - run: make build

  test:
    strategy:
      matrix:
        go-version:
          - 1.22.x
          - 1.21.x
          - 1.20.x
        os:
          - macos
          - ubuntu
          - windows

    name: test (${{ matrix.os }}/go-${{ matrix.go-version }})
    runs-on: ${{ matrix.os }}-latest
    services:
      minio:
        image: ${{ (matrix.os == 'ubuntu') && 'bitnami/minio:2024.12.13' || ''}}
        ports:
          - 45677:9000
        options: >-
          --health-cmd "curl -I http://localhost:9000/minio/health/live -s"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          MINIO_ROOT_USER: minioadmin
          MINIO_ROOT_PASSWORD: minioadmin
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - run: make test
      env:
        S5CMD_TEST_ENDPOINT_URL: ${{ (matrix.os == 'ubuntu') && 'http://localhost:45677' || '' }}
  qa:
    strategy:
      matrix:
        go-version:
          - 1.22.x
          - 1.21.x
          - 1.20.x
        os:
          - ubuntu

    runs-on: ${{ matrix.os }}-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v5
      with:
        go-version: ${{ matrix.go-version }}

    - run: make bootstrap
    - run: make check
