name: goreleaser
on:
  push:
    tags:
      - 'v*'
jobs:
  gcs_test:
    name: gcs-test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 1.22.x
      - run: make test_without_race
        env:
          S5CMD_ACCESS_KEY_ID: ${{ secrets.S5CMD_GCS_ACCESS_KEY_ID }}
          S5CMD_SECRET_ACCESS_KEY: ${{ secrets.S5CMD_GCS_SECRET_ACCESS_KEY }}
          S5CMD_ENDPOINT_URL: https://storage.googleapis.com
          S5CMD_IS_VIRTUAL_HOST: 1
          S5CMD_REGION: ${{ secrets.S5CMD_GCS_REGION }}
          S5CMD_I_KNOW_WHAT_IM_DOING: 1

  goreleaser:
    needs: [ gcs_test ]
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      -
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.22'
      -
        name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          version: '~> v2'
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GORELEASER_TOKEN }}
